
{block content}

<header class="dashboard well">
	<a class="float-right btn btn-large btn-success">New presentation</a>

	<span class="username">{$user->identity->username}</span>
</header>

<p>TODO vypis vsech prezentaci</p>
<p>TODO vypis sdilenych prezentaci</p>