<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

		<meta name="description" content="Nette Framework web application skeleton">
		<meta name="robots" content="{$robots}" n:ifset="$robots">

		<title>Slide It</title>

		<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/bootstrap.css" type="text/css">
		<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/darkstrap.css" type="text/css">
		<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css" type="text/css">
		<link rel="stylesheet" media="print" href="{$basePath}/css/print.css" type="text/css">
		<link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon">
		{block head}{/block}
	</head>

	<body>
		<script> document.body.className+=' js' </script>
		
		<header class="main">
			<a n:if="!$user->loggedIn" href="{plink Sign:in}">login</a>
			<a n:if="$user->loggedIn" href="{plink Sign:out}">logout</a>
		</header>

		<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

		{include #content}
	</body>
	
	<script type="text/javascript">
		paths = {
			base: {$basePath},
			modals: {
				share: {plink Modal:share},
				create: {plink Modal:create}
			}
		};
	</script>

	<script type="text/javascript" src="{$basePath}/js/jquery-1.7.min.js"></script>
	<script type="text/javascript" src="{$basePath}/js/netteForms.js"></script>
	<script type="text/javascript" src="{$basePath}/js/nette.ajax.js"></script>
	<script type="text/javascript" src="{$basePath}/js/slideit.js"></script>
</html>
