
body {
	font: 16px/1.5 "Trebuchet MS", "Geneva CE", lucida, sans-serif;
	color: #bbb;
	background: url('../img/bg.png');
	margin: 0 auto;
}

#editor-container {
	width: 1024px;
	height: 800px;
	margin: 0 auto;
	zoom: 0.65;
	position: inherit;
}

#editor-container section.slide {
	height: 100%;
}

#slide-preview {
	width: 260px;
	float: left;
	border-right: 2px solid grey;
	position: relative;
	overflow: auto;
}
#slide-preview .deck-container {
	width: 205px;
	height: 150px;
	position: relative;
	min-height: 0;
	padding: 0 8px;
	margin-top: 10px;
}
#slide-preview .deck-container > .slide {
	zoom: 0.2;
}
#slide-preview .deck-current {
	z-index: 0;
}
#slide-preview .preview-container {
	width: 230px;
	margin: 0 auto
}
#slide-preview.hierarchy {
	width: auto;
	margin-left: 50px;
}
#slide-preview.hierarchy .preview-container {
	width: auto;
	margin-left: 0;
}
#slide-preview .slide-config {
	clear: left;
}
#slide-preview .slide-config .deck-container {
	float: left;
}